<ng-container *ngIf="!loading">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let launch of launchesUpcoming">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ launch.launch_date_utc | date }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
      <span>{{ launch.mission_name }}</span>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
    >
      >
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
<ng-container *ngIf="loading">
  <p>Loading...</p>
</ng-container>
